html {
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: 'Press Start 2P';
}

body {
    margin: 0;
  }

  ::selection {
    color: red;
    background: yellow;
  }

#megacontenitore {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.containerNumeri {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 350px;
    min-height: 450px;
    width: 50vh ;
    height: 50vh;
    gap: 10px; 
    text-align: center;
    border-radius: 10px;
    user-select: none;
    
    
}
.containerOperatori {
    grid-column: 1/4;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 10px;
    
    
}

#decimale {
    padding: 10px;
    border: solid 1px;
    background-color: rgba(148, 188, 233, 0.411);
    cursor: pointer;
    border-radius: 20px;
}

.bottoniNumeri {
    padding: 10px;
    border: solid 1px;
    background-color: rgba(148, 188, 233, 0.411);
    cursor: pointer;
    border-radius: 20px;
}
.bottoniOperatori {
    padding: 10px;
    border: solid 1px; 
    background-color: rgba(0, 82, 182, 0.404); 
    cursor: pointer;
    border-radius: 20px; 

}

#zero {    
    grid-column: 2;

}
#uguale {
    grid-column: 3/5;
}

#display { 
    background-color:  rgba(252, 252, 212, 0.438);
    border: solid black 1px;
    border-top: 0 ;
    grid-column: 1/4;
    padding-bottom: 30px;
    overflow: hidden;
    text-align: left;
    padding: 10px;
    font-size: large ;
    margin-top: -10px;
    min-height: 30px;
    user-select: text;
    
    
}
#displayPending {
    background-color: rgba(252, 252, 212, 0.438); 
    border: solid black 1px;  
    border-bottom: 0 ;
    grid-column: 1/4;
    padding-bottom: 30px;
    overflow: hidden;
    padding: 10px;
    text-align: left;
    color: #00000091;
    font-size: smaller ;
    min-height: 10px;
    user-select: text;
    
    
}

